{% extends "base.html" %}

{% block content %}
print pref.startDay
     <div id="main">
          <table border="" height="75%" width="90%" align=center>
          <caption align=top><b> {{cal.month}}  {{cal.year}} </b></caption>
<!-- top line -->
          <tr><th>Week</th><th width="13%">{{ days[pref.startDay] }}</th> <th width="13%">{{  days[pref.startDay+1] }}</th> <th width="13%">{{ days[pref.startDay+2] }}</th> <th width="13%">{{ days[pref.startDay+3] }}</th> <th width="13%">{{ days[pref.startDay+4] }}</th> <th width="13%">{{ days[pref.startDay+5] }}</th> <th width="13%">{{ days[pref.startDay+6] }}</th> </tr>
<!-- row 1 -->
          <tr><td align=center>{{ pref.startwk }}</td><td align=center bgcolor={{ bgtclr[0] }}>{{ dnum[0] }}</td><td align=center bgcolor={{ bgtclr[1] }}>{{ dnum[1] }}</td><td align=center bgcolor={{ bgtclr[2] }}>{{ dnum[2] }}</td><td align=center bgcolor={{  bgtclr[3] }}><b>{{ dnum[3] }}</b></td><td align=center bgcolor={{  bgtclr[4] }}><b>{{ dnum[4] }}</b></td><td align=center bgcolor={{ bgtclr[5] }}><b>{{ dnum[5] }}</b></td><td align=center bgcolor={{ bgtclr[6] }}><b>{{ dnum[6] }}</b></td></tr>
          <tr><td bgcolor=silver>&nbsp;</br>&nbsp;<br />&nbsp;</td><td bgcolor={{ bgeclr[0] }}></td><td bgcolor={{ bgeclr[1] }}></td><td bgcolor={{ bgeclr[2] }}></td><td bgcolor={{ bgeclr[3] }}></td><td bgcolor={{ bgeclr[4] }}></td><td bgcolor={{ bgeclr[5] }}></td><td bgcolor={{ bgeclr[6] }}></td></tr>
<!-- row 2 -->
         <tr><td align=center>{{ pref.startwk+1 }}</td><td align=center bgcolor={{ bgtclr[7] }}><b>{{ dnum[7] }}</b></td><td align=center bgcolor={{ bgtclr[8] }}><b>{{ dnum[8] }}</b></td><td align=center bgcolor={{ bgtclr[9] }}><b>{{ dnum[9] }}</b></td><td align=center bgcolor={{ bgtclr[10] }}><b>{{ dnum[10] }}</b></td><td align=center bgcolor={{ bgtclr[11] }}><b>{{ dnum[11] }}</b></td><td align=center bgcolor={{ bgtclr[12] }}><b>{{ dnum[12] }}</b><td align=center bgcolor={{ bgtclr[13] }}><b>{{ dnum[13] }}</b></td></td></tr>
         <tr><td bgcolor=silver>&nbsp;</br>&nbsp;<br />&nbsp;</td><td bgcolor={{ bgeclr[7] }}></td><td bgcolor={{ bgeclr[8] }}></td><td style="color:{{ colorsc.calAclr }}; text-align:center; vertical-align:top; align:center;  bgcolor:{{ bgeclr[9] }};"><b>{{ calat[9] }}</b></td><td bgcolor={{ bgeclr[10] }}></td><td bgcolor={{ bgeclr[11] }}></td><td bgcolor={{ bgeclr[12] }}></td><td style="color:{{ colorsc.calBclr }}; text-align:center; vertical-align:top; align:center;  bgcolor:{{ bgeclr[13] }};"><b>{{ calbt[13] }}</td></tr>

<!-- row 3 -->
         <tr><td align=center>{{ pref.startwk+2 }}</td><td align=center bgcolor={{ bgtclr[14] }}><b>{{ dnum[14] }}</b></td><td align=center bgcolor={{ bgtclr[15] }}><b>{{ dnum[15] }}</b></td><td align=center bgcolor={{ bgtclr[16] }}><b>{{ dnum[16] }}</b></td><td align=center bgcolor={{ bgtclr[17] }}><b>{{ dnum[17] }}</b></td><td align=center bgcolor={{ bgtclr[18] }}><b>{{ dnum[18] }}</b></td><td align=center bgcolor={{ bgtclr[19] }}><b>{{ dnum[19] }}</b></td><td align=center bgcolor={{ bgtclr[20] }}><b>{{ dnum[20] }}</b></td></tr>
         <tr><td bgcolor=silver>&nbsp;</br>&nbsp;<br />&nbsp;</td><td bgcolor={{ bgeclr[14] }}></td><td bgcolor={{ bgeclr[15] }}></td><td bgcolor={{ bgeclr[16] }}></td><td bgcolor={{ bgeclr[17] }}></td><td bgcolor={{ bgeclr[18] }}></td><td bgcolor={{ bgeclr[19] }}></td><td bgcolor={{ bgeclr[20] }}></td></tr>

<!-- row 4 -->
          <tr><td align=center>{{ pref.startwk +3 }}</td><td align=center bgcolor={{ bgtclr[21] }}><b>{{ dnum[21] }}</b></td><td align=center bgcolor={{ bgtclr[22] }}><b>{{ dnum[22] }}</b></td><td align=center bgcolor={{ bgtclr[23] }}><b>{{ dnum[23] }}</b></td><td align=center bgcolor={{ bgtclr[24] }}><b>{{ dnum[24] }}</b></td><td align=center bgcolor={{ bgtclr[25] }}><b>{{ dnum[25] }}</b></td><td align=center bgcolor={{ bgtclr[26] }}><b>{{ dnum[26] }}</b></td><td align=center bgcolor={{ bgtclr[27] }}><b>{{ dnum[27] }}</b></td></tr>
         <tr><td bgcolor=silver>&nbsp;</br>&nbsp;<br />&nbsp;</td><td  style="color:{{ colorsc.calBclr }}; text-align:center; vertical-align:top; align:center;  bgcolor:{{ bgeclr[21] }};" ><b>{{ calbt[21] }}</b></td><td bgcolor={{ bgeclr[22] }}></td><td bgcolor={{ bgeclr[23] }}></td><td bgcolor={{ bgeclr[24] }}></td><td bgcolor={{ bgeclr[25] }}></td><td bgcolor={{ bgeclr[26] }}></td><td bgcolor={{ bgeclr[27] }}></td></tr>
<!-- row 5 -->
          <tr><td align=center>{{ pref.startwk+4 }}</td><td align=center bgcolor={{ bgtclr[28] }}><b>{{ dnum[28] }}</b></td><td align=center bgcolor={{ bgtclr[29] }}><b>{{ dnum[29] }}</b></td><td align=center bgcolor={{ bgtclr[30] }}><b>{{ dnum[30] }}</b></td><td align=center bgcolor={{ bgtclr[31] }}>{{ dnum[31] }}</td><td align=center bgcolor={{ bgtclr[32] }}>{{ dnum[32] }}</td><td align=center bgcolor={{ bgtclr[33] }}>{{ dnum[33] }}</td><td align=center  bgcolor={{ bgtclr[34] }}>{{ dnum[34] }}</td></tr>
        <tr><td bgcolor=silver>&nbsp;</br>&nbsp;<br />&nbsp;</td><td bgcolor={{ bgeclr[28] }}></td><td bgcolor={{ bgeclr[29] }}></td><td bgcolor={{ bgeclr[30] }}></td><td bgcolor={{ bgeclr[31] }}></td><td bgcolor={{ bgeclr[32] }}></td><td bgcolor={{ bgeclr[33] }}></td><td bgcolor={{ bgeclr[34] }}></td></tr>
          </table>

     <table border ="" align=center>
          <caption align=top><b>Legend</b></caption>
          <tr><td align=center width="13%" bgcolor={{ colorsm.previousmonth }}>Previous Month</td><td align=center width="13%" bgcolor={{ colorsm.thisbefore }}>This month before today</td><td align=center width="13%" bgcolor={{ colorsm.today }}>Today</td><td align=center width="13%" bgcolor={{ colorsm.thismonth}} >This month after today</td><td align=center width="13%" bgcolor={{ colorsm.nextmonth }}>Next Month</td><td align=center width="13%" bgcolor={{ colorsm.site }}>Site Down</td></tr>
     </table>

     <table border ="" align=center>
          <caption align=top><b>Calendars In Use</b></caption>
          <tr><td align=center width="13%"  bgcolor={{ colorsc.calAclr }} >Calendar A title</td><td align=center width="13%"  bgcolor={{ colorsc.calBclr }} >Calendar B title </td><td align=center width="13%"  bgcolor={{ colorsc.calCclr }} >Calendar C title</td><td align=center width="13%"  bgcolor={{ colorsc.calDclr }}>Calendar D title</td><td align=center width="13%"   bgcolor={{ colorsc.calEclr }}>Calendar E title</td><td align=center width="13%"   bgcolor={{ colorsc.calSclr }}>Site Calendar</td></tr>
     </table>

     <br />
          <center>
          <input type="submit" name="action" value="Previous Month" />&nbsp;<input type="button"  value="Print Page" onclick="window.print()" />&nbsp;<input type="submit" name="action" value="Next Month" />
     </center>
     <br />
     <hr/>
     <center><input type="submit" name="action" value="Return to Home page" /></center> <hr /> <br />
     <br /><br /><br />

     </div>
{% endblock content %}
